 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p align="justify">Neural models for relational data provide informative representations for knowledge graphs (KGs), modeling missing links, node classes, and errors in the graph. To aid user trust and provide insights into these models, there has been growing interest in investigating the interpretability and robustness of existing knowledge graph representation models. Previous studies provide explanations for graph models' behavior resulting in designing more accurate and robust models. 
The objectives of XGML workshop is to bring together researchers interested in (a) explaining graph models, (c) adversarial attack and defenses on graphs, and (b) improving completion and construction of knowledge bases utilizing the insights from explanations, and in general, to share state-of-the-art approaches, best practices, and future directions.</p></div>
                <div class="row">

            </div>
        </div>
    </section>
