 <!-- About Section -->
    <section class="success" id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CALL FOR PAPERS</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12">
<h3> Scope </h3>
                  <p>The workshop on Explainable Graph-Based Machine Learning (XGML) will consist of contributed posters, and invited talks on a wide variety of methods and problems in this area. We invite extended abstract submissions in the following categories to present at the workshop:
                   </p></div>


             <div class="col-lg-12">
              <li>Providing explanations for different task based on graph models</li>  
             <li>Reasoning and rule extraction for relational data</li> 
             <li>Adversarial attacks and defenses</li>  
             <li>Explainable AI with knowledge graphs</li> 
             <li>Human in the loop</li> 
             <li>Optimization challenges in providing explanations</li> 
             <li>Benchmark datasets and evaluation methods</li> 
              </div>
             
              <div class="col-lg-12">

               <h3> Call for extended abstract </h3>
<p align="justify">
We invite submission of extended abstracts related to Explainable Graph-Based Machine Learning (XGML). Since the workshop is not
intended to have a proceeding comprising full versions of the papers, concurrent submissions to other venues, as well accepted
work, are allowed provided that concurrent submissions or intention to submit to other venues is declared to all venues including
XGML. Accepted work will be presented as oral during the workshop and listed on this website.
</p>

<h3> Reviewing Policy: </h3>
<p align="justify">
Submissions shall be refereed on the basis of technical quality, potential impact, and
clarity. Atleast one of the authors of each accepted submission will be required to present the work virtually. 
</p>


<h3> Submission instructions</h3>
<p align="justify">
1). Prepare 1-page abstract. <!--Do not provide details of author names and affiliation here.--><br>
2). Please upload your submission in the following Google form (only PDF accepted):<br>
 <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7vGoFYCgoI2leW6ZSUlj_hGYC68TeZ1pPamQ9EI8Qhc5o5A/viewform?usp=sf_link"><font color="white">submission website</font></a>. <br>
3). In case of any queries, please drop an email to pezeshkp@uci.edu 
</p>


<h3> Important dates</h3>
<b>Abstract submission:</b> Aug 10th, 11:59pm PST. <br>
<b>Acceptance/rejection notification:</b>  Sep 10th. <br>
<b>Workshop: Oct 8th, 2021.</b>
</div>

               
                 </div>
          
             
            </div>
        </div>
    </section>
