<!-- About Section -->
    <section class="success" id="Schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Schedule</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <li> <u><b>8:30 AM - 8:40 AM : </b></u>  Opening</li>
                    <li> <u><b>8:40 AM - 9:25 AM</b></u>  Invited talk - 1 (Xinlei Chen: TBD)</li>
                    <li> <u><b>9:25 AM - 10:10 AM</b></u>  Invited talk - 2 (Xiang Ren -- From Data to Model Programming: Injecting Structured Priors for Knowledge Extraction)</li>    
                    <li> <u><b>10:10 AM - 10:30 AM</b></u>  Break</li>
                    <li> <u><b>10:30 AM - 11:15 AM</b></u>  Invited talk - 3 (Jared Dunnmon -- Cross-Modal Data Programming: Leveraging Multimodality in Weakly Supervised Machine Learning)</li>
                    <li> <u><b>11:15AM - 11:30 AM</b></u>  Oral - 1 (Daniel Oñoro-Rubio -- MMKG: Multi-Modal Knowledge Graphs)</li>
                    <li> <u><b>11:30 AM - 11:45AM</b></u>  Oral - 2 (Bhushan Kotnis -- Harnessing Numerical Information in Multi-Modal Knowledge Bases) </li>
                    <li> <u><b>11:45 AM -12:00 Noon</b></u>  Oral - 3 (Kartik Talamadupula -- Interactive Question Answering in Multimodal Environments Using External Knowledge)</li>
            </div>
        </div>
    </section>
