<!-- About Section -->
    <section class="success" id="Schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Schedule</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <li> <b>9:00-9:15</b> Opening</li>
                    <li> <b>9:15-10:00</b> Xinlei Chen: TBD</li>
                    <li> <b>10:00-10:45</b> Jared Dunnmon: Cross-Modal Data Programming: Leveraging Multimodality in Weakly Supervised Machine Learning.</li>
                    <li> <b>10:45-11:00</b> Break</li>
                    <li> <b>11:00-11:20</b> First Contributed Talk</li>
                    <li> <b>11:20-11:40</b> Second Contributed Talk</li>
                    <li> <b>11:40-12:00</b> Third Contributed Talk</li>
            </div>
        </div>
    </section>
