<!-- About Section -->
    <section id="Schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Schedule</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                TBD
                <!--
                <div class="col-lg-12">
                    <li>  8:30 AM - 8:35 AM :  <b>Opening Remarks</b></li>
                    <li>  8:35 AM - 9:15 AM :  <b>Invited talk: Xinlei Chen</b>, Learning and Reasoning with Visual Knowledge</li>
                    <li>  9:15 AM - 9:55 AM :  <b>Invited talk: Xiang Ren</b>, From Data to Model Programming: Injecting Structured Priors for Knowledge Extraction</li> 
                    <li> 9:55 AM - 10:10AM :  <b>Daniel Oñoro-Rubio</b>, MMKG: Multi-Modal Knowledge Graphs</li>
                    <li> 10:10 AM - 10:30 AM :  <b>Break</b></li>
                    <li> 10:30 AM - 11:10 AM :  <b>Invited talk: Jared Dunnmon</b>, Cross-Modal Data Programming: Leveraging Multimodality in Weakly Supervised Machine Learning</li>
                    <li> 11:10 AM - 11:25 AM :  <b>Bhushan Kotnis</b>, Harnessing Numerical Information in Multi-Modal Knowledge Bases</li>
                    <li> 11:25 AM - 11:40 AM :  <b>Kartik Talamadupula</b>, Interactive Question Answering in Multimodal Environments Using External Knowledge</li>
                    <li> 11:40 AM - 11:55 AM :  <b><i>Anonymous</i></b>, KnowledgeNet: A Dataset for End-to-end Knowledge Graph Population</li>
                    <li> 11:55 AM - 12:00 Noon :  <b>Closing Remarks</b>
                -->
             </div>
        </div>
    </section>
