 <!-- About Section -->
    <section  class="success" id="Speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
             <b>TBD</b>
              <!--    
            <div class="col-lg-12">
            <table style="border-spacing:30px; border-collapse: separate;" align="center"> 
             <tr> 
             <td align="center">
               <div>
                 <img src="fig/chen.jpg" style="width:120px;" align="middle">
               </div>
             </td>                                                                                                  
             <td align="center">
               <div>
                 <img src="fig/jared.jpg" style="width:120px;" align="middle">
                </div>
             </td>
              <td align="center">
               <div>
                <img src="fig/xiang.jpg" style="width:120px;" align="middle">
                </div>
             </td>
           </tr>
           <tr> 
             <td align="center" style='width: 30%;'>
              <div>
                 <li><a href="http://xinleic.xyz"><font color="white" size = "4"><u><b>Xinlei Chen</b></u>, Facebook</a></font></li>
                <font color="white" size = "3"><b>Title:</b> Learning and Reasoning with Visual Knowledge </font>
              </div>
             </td>                                                                                                  
             <td align="center" style='width: 30%;'>
               <div>
                 <li><a href="https://jdunnmon.github.io/"><font color="white" size = "4"><u><b>Jared Dunnmon</b></u>, Stanford</a></font></li>
                <font color="white" size = "3"><b>Title:</b> Cross-Modal Data Programming: Leveraging Multimodality in Weakly Supervised Machine Learning</font>
              </div>
             </td>
             <td align="center" style='width: 30%;'>
               <div>
                 <li><a href="http://www-bcf.usc.edu/~xiangren/"><font color="white" size = "4"><u><b>Xiang Ren</b></u>, USC</a></font></li>
                <font color="white" size = "3"><b>Title:</b> From Data to Model Programming: Injecting Structured Priors for Knowledge Extraction</font>
              </div>
             </td>

            
           </tr>             
             
         </table>  
        -->
        </div>
    </section>
