 <!-- About Section -->
    <section  class="success" id="Speakers">
        <div class="container">     
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">  
            <div class="col-lg-12">
            <table style="border-spacing:30px; border-collapse: separate;" align="center"> 
             <tr> 
             <td align="center">
               <div>
                 <img src="fig/Carolin.jpg" style="width:120px;" align="middle">
               </div>
             </td>                                                                                                  
             <td align="center">
               <div>
                 <img src="fig/Pascal.jpg" style="width:120px;" align="middle">
                </div>
             </td>
              <td align="center">
               <div>
                <img src="fig/Marinka.jpg" style="width:120px;" align="middle">
                </div>
             </td>
              <td align="center">
               <div>
                <img src="fig/Freddy.jpg" style="width:120px;" align="middle">
                </div>
             </td>
           </tr>
           <tr> 
             <td align="center" style='width: 23%;'>
              <div>
                 <li><a href="https://carolinlawrence.github.io"><font color="white" size = "4"><u><b>Carolin Lawrence</b></u>, NEC Lab Europe</a></font></li>
                <font color="white" size = "3"><b>Title:</b> TBA</font>
              </div>
             </td>                                                                                                  
             <td align="center" style='width: 23%;'>
               <div>
                 <li><a href="https://www.cs.ksu.edu/about/people/faculty/hitzler/"><font color="white" size = "4"><u><b>Pascal Hitzler</b></u>, Kansas State University</a></font></li>
                <font color="white" size = "3"><b>Title:</b> Knowledge Graphs in Neuro-Symbolic AI</font>
              </div>
             </td>
             <td align="center" style='width: 23%;'>
               <div>
                 <li><a href="https://zitniklab.hms.harvard.edu"><font color="white" size = "4"><u><b>Marinka Zitnik</b></u>, Harvard University</a></font></li>
                <font color="white" size = "3"><b>Title:</b> Explainable Graph AI for Drug Discovery</font>
              </div>
             </td>  
             <td align="center" style='width: 23%;'>
               <div>
                 <li><a href="http://www-sop.inria.fr/members/Freddy.Lecue/"><font color="white" size = "4"><u><b>Freddy Lecue</b></u>, CortAIx</a></font></li>
                <font color="white" size = "3"><b>Title:</b> TBA</font>
              </div>
             </td>
            
           </tr>             
             
         </table> 
        </div>
    </section>
