 <!-- About Section -->
    <section id="Speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Following speakers have confirmed their presence and talk at KBMM so far (more to be added)</p></div>
             <!--><li><a href="https://www.linkedin.com/in/baoxushi/"><font color="black" size = "4"><u><b>Baoxu Shi</b></u>, LinkedIn</a></font></li>-->
             <li><a href="http://xinleic.xyz"><font color="black" size = "4"><u><b>Xinlei Chen</b></u>, Facebook AI Research, Menlo Park</a></font></li>
             <li><a href="https://jdunnmon.github.io/"><font color="black" size = "4"><u><b>Jared Dunnmon</b></u>, Stanford</a></font></li>
             <li> ...</li>
                <div class="row">

            </div>
        </div>
    </section>
