<!-- About Section -->
    <section id="Venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Venue</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p> XGML will be a fully virtual event. You can find the live event <a href="https://akbc.apps.allenai.org/workshops.html">here</a>. 
                </div>
        </div>
    </section>
