<!-- About Section -->
    <section id="Venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Venue</h2>
                    <hr class="star-primary">
                </div>
            </div>
            TBA
            <!-- 
            <div class="row">
                <div class="col-lg-12">
                  <p> KBMM-2020 will be a fully virtual event. You can find the live event <a href="https://akbc.apps.allenai.org/workshop_kbmm.html">here</a>. 
                </div>
        </div> -->
    </section>
